body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6; margin: 0; background-color: #f4f7f9;
    color: #333; 
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
}

header {
    background: #292b2c;
    color: white;
    padding: 40px 20px;
    text-align: center;
}

.container {
    max-width: 900px;
    margin: 30px auto;
    padding: 20px;
    background-color:transparent;
    flex: 1;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px; 
}

.card {
    background: white;
    padding: 20px; border-radius: 10px; box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    border-top: 5px solid #0366d6;
}

.card h3 {
    margin-top: 0; 
    color: hsl(214, 56%, 54%); 
}

.card p {
    margin-top: 0;
    color: hsl(0, 0%, 12%); 
}

.tag { 
    background: #e1ecf4; 
    color: #39739d; 
    padding: 3px 10px; 
    border-radius: 15px; 
    font-size: 0.8rem; 
    font-weight: bold; 
}

footer { 
    text-align: center; 
    margin-top: 60px; 
    padding: 20px; 
    color: #666; 
}